* {
    box-sizing: border-box;
}

body {
    background-color: silver;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container {
    background-color: white;
    border-radius: 10px;
    display: flex;
    position: relative;
    padding: 20px;
    margin: 100px 0;
    z-index: 10;
}

.album-art {
    position: relative;
    width: 200px;
}

.album-art img {
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 120px;
    width: 120px;
    animation: rotate 5s linear infinite;
    animation-play-state: paused;
}

.container.play img {
    animation-play-state: running;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    z-index: 1;
}

.nav .nav-btn {
    background-color: white;
    margin: 0 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.nav .nav-btn-large {
    font-size: 24px;
}

.info {
    height: 60px;
    background-color: darkolivegreen;
    border-radius: 10px;
    position: absolute;
    width: 90%;
    text-align: right;
    margin: 0;
    padding: 0 20px;
    color: white;
    font-weight: bolder;
    transform: translateY(0%);
    transition: transform 1s ease-in, opacity 1s ease-in;
    opacity: 0;
    z-index: 0;
}

.container.play .info {
    opacity: 1;
    transform: translateY(-120%);
}

.progress {
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 5px;
    width: 50%;
    text-align: right;
    margin-left: 140px;
    margin-top: -15px;
}

.progress-bar {
    background-color: lightgreen;
    border-radius: 5px;
    height: 100%;
    width:  0%;
    transition: width 0.1s linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}