* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blue;
    max-height: 100vh;
    margin: 0;
}

h1 {
    color: white;
}

.screen {
    cursor: pointer;
    width: 60%;
    background-color: black;
}

.controls {
    background-color: rgb(43, 25, 206);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 10px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.controls .btn {
    background: transparent;
    border: 0;
    cursor: pointer;
    color: turquoise;
    height: 40px;
    width: 40px;
    border: 1px solid red;
}


.controls .timestamp {
    font-weight: bold;
    margin-left: 10px;
}

@media(max-width:800px) {
    .screen, .controls {
        width: 90%;
    }   
}