* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blue;
    max-height: 100vh;
    margin: 0;
}

h1 {
    color: white;
}

.screen {
    cursor: pointer;
    width: 60%;
    background-color: black;
}

.controls {
    background-color: rgb(43, 25, 206);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 10px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

