* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,245,253,1) 100%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 30px auto;
    width: 350px;
    border-radius: 5px;
    padding: 10px;
}

h2 {
    text-align: center;
    margin: 10px 0px;
    letter-spacing: 1.5px;
}


.credit-debit-container {
    background-color: white;
    padding: 7px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
}

.credit-debit-container > div {
    flex: 1;
    text-align: center;
}

.credit-debit-container > div:first-of-type {
    border-right: 2px solid gray;
}

.money-credit, .money-debit {
    font-size: 20px;
    font-weight: bolder;
}

.money-debit {
    color: orangered;
}

.money-credit {
    color: green;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list li {
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
    padding: 5px;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.list li.credit {
    border-right: 10px solid green;
}

.list li.debit {
    border-right: 10px solid orangered;
}


.delete-btn {
    background-color: red;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: opacity 1s ease;
    cursor: pointer;
}

.list li:hover .delete-btn {
    opacity: 1;
}


label {
    display: block;
    font-size: 16px;
}

input {
    display: block;
    padding: 9px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0;
}

.btn {
    padding: 8px 4px;
    font-size: 12px;
    text-transform: uppercase;
    width: 100%;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 3px;
    outline: 0;
    border: 0;
}

.btn:active {
    transform: scale(0.95);
}