* {
    box-sizing: border-box;
}

body {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    color: white;
}

.movie-container {
    margin: 10px 0;
}

.movie-container label {
    font-weight: bold;
    color: white;
}

.movie-container select {
    padding: 5px 2px;
    font-size: 12px;
    font-weight: bold;
    background-color: white;
    color: black;
    border: 0;
    border-radius: 5px;
    margin-left: 5px;
    outline: 0;
    width: 200px;
}

.container {
    background-color: white;
    border-radius: 8px;
    min-height: 320px;
    width: 500px;
    padding: 8px;
    color: black;
    float: left;
}

.screen {
    height: 90px;
    width: 90%;
    background-color: gray;
    text-align: center;
    margin-left: 5%;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.container ul {
    list-style: none;
}

.container ul li {
    float: left;
}


.container .left-side {
    border-right: 2px solid  black;
    width: 60%;
    margin-left: -40px;
}

.container .right-side {
    width: 45%;
    min-height: 100%;
}

.row2 {
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
}

.row {
    display: flex;
}

.row .seat {
    height: 25px;
    width: 25px;
    margin: 2px 2px;
    padding: 0;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    background-color: chocolate;
    cursor: pointer;
}

.row .seat:nth-of-type(2) {
    margin-right: 25px;
}

.row .seat:nth-last-of-type(2) {
    margin-left: 25px;
}

.container .right-side {
    display: flex;
    flex-direction: column;
    
}

.right-side ul li{
    list-style-type: none;
    
}

.legend {
    margin-left: 20px;
}

.legend .seat {
    height: 15px;
    width: 35px;
    padding: 5px;
    margin: 2px 4px;
    background-color: chocolate;
    align-items: center;
    justify-content: center;
}

.seat.occupied {
    background-color: lime;
    cursor: default;
}

h1 {
    text-transform: uppercase;
}

.seat.selected {
    background-color: lightseagreen;
}

.details {
    height: 200px;
    background-color: gray;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.legend2 {
    margin-top: 180px;
    margin-left: 20px;
}

.legend2 div {
    margin: 0;
    padding: 0;
}



















