@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,200&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-weight: bold;
}


.container {
    perspective: 900px;
    margin-bottom: 30px ;
}

.movie-container {
    margin: 0px 0;
}

.movie-container {
    margin: 15px 0;
}

.movie-container select {
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    background: white;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 3px 10px;
}

.seat {
    height: 20px;
    width: 25px;
    background-color: darkgray;
    margin: 2px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.seat:nth-of-type(2) {
    margin-right: 30px;
}

.seat:nth-last-of-type(2) {
    margin-left: 30px;
}

.seat.selected {
    background-color: aqua;
}

.seat.occupied {
    background-color: chocolate;
}

.legend {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    list-style: none;
    display: flex;
}

.legend .seat {
    transform: scale(1);
    cursor: default;
}

.legend li {
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

.screen {
    height: 90px;
    width: 100%;
    background-color: white;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
}

.row {
    display: flex;
}