* {
    box-sizing: border-box;
}

body {
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
    width: 800px;
}

aside {
    padding: 10px 20px;
    width: 250px;
    border-right: 1px solid orangered;
}

button {
    cursor: pointer;
    background-color: orange;
    border: 1px solid red;
    display: block;
    border-radius: 5px;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bolder;
    margin-top: 15px;    
}

main {
    flex: 1;
    padding: 20px;
}

h2 {
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid red;
    font-weight: bolder;
    margin: 0 0 20px;
}

h3 {
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px soli black;
    font-weight: bold;
    margin: 20px 0 0;
}

.user {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: 0;
    font-weight: bold;
}